body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-color {
  color: #000 !important;
  font-weight: 500;
}

.icon-color:hover {
  color: #dc3545 !important;
}

.card-hover:hover {
  box-shadow: 0px 0px 20px rgb(148, 148, 148) !important;
}